[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
matplotlib = "*"
jupyterlab = "*"
urllib3 = "<=1.26.15"
seaborn = "*"
nbconvert = "*"
py4j = "*"
databricks = "*"
databricks-sdk = "*"
boto3 = "*"
configparser = "*"
fsspec = "*"
s3fs = "*"

[dev-packages]

[requires]
python_version = "3.9"
